
@font-face {
  font-family:"monteserat";
  src: url("../src/assets/font/Montserrat-Regular.ttf");
}

:root{
  --BrainThrustBgColor:#E8F1FF;
  --BrainThrustElemColor:#0A0B5C;
  --BrainThrustTextColor:ivory;
  --dark-shade-bg:#dde5f4;
  --active-color:#FFA500;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background:var(--BrainThrustBgColor);
  font-family:"monteserat";
}

a{
  text-decoration: none;
}
ul{
  list-style-type: none;
}

